<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="../../assets/css/common.css" />
    <title>Sezione card 2</title>
  </head>
  <body>
    <div class="sezione-card-2">
      <div class="card-container">
        <div class="card-element">
          <div class="card-3-img">
            <img src="../../assets/card3/card-3.png" alt="card-3" />
          </div>
          <div class="card-3-desc">
            <span class="card-3-title">Rayman Legends</span>
            <div class="price-box">
              <span class="sconto">-80%</span>
              <span class="inline-price">$29.99</span>
              <span class="price">$5.99</span>
            </div>
          </div>
        </div>
        <div class="card-element">
          <div class="card-3-img">
            <img
              src="https://cdn2.unrealengine.com/en-egs-dotw-antstream-arcade-lifetime-breaker-1920x1080-2249d4e5f0dd.jpg?resize=1&w=854&h=480&quality=medium"
              alt="card-3"
            />
          </div>
          <div class="card-3-desc">
            <span class="card-3-title">Antstream Arcade - Lifetime</span>
            <div class="price-box">
              <span class="sconto">-50%</span>
              <span class="inline-price">$99.99</span>
              <span class="price">$49.99</span>
            </div>
          </div>
        </div>
        <div class="card-element">
          <div class="card-3-img">
            <img
              src="https://cdn2.unrealengine.com/en-sales-specials-dotw-breaker-asset-1920x1080-1313ee288796.jpg?resize=1&w=854&h=480&quality=medium"
              alt="card-3"
            />
          </div>
          <div class="card-3-desc">
            <span class="card-3-title" id="last-card"
              >Check out all the deals <br />
              &nbsp;for this week.</span
            >
            <div class="card-3-button">
              <span>Browse</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
