.card-page-4-section {
  display: flex;
  gap: 12px;
  align-items: center;
  width: 70%;
}

.card-section-4-title {
  font-size: 20px;
  font-weight: 700;
}

.card-page-4-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  background-color: #202024;
  border: 1px solid #202024;
  border-radius: 20px;
  max-width: 262px;
}
.card-page-4-img img {
  max-width: 262px;
}

.card-page-4-desc span {
  max-width: 70%;
}

.card-page-4-desc {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

.card-page-4-desc .card-page-4-title {
  color: #ffffff;
  font-weight: 800;
  margin-left: 5px;
}

.card-page-4-desc .v-desc {
  color: #ffffff;
  display: flex;
  gap: 10px;
  padding: 5px;
  border-bottom: 2px solid #2a2a2a;
  align-items: center;
  font-size: 15px;
}

.v-desc > svg {
  fill: black;
}

.card-page-4-desc .x-desc {
  color: #cccccc;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 7px;
  border-bottom: 2px solid #2a2a2a;
  align-items: center;
  font-size: 15px;
}

.x-desc svg {
  fill: #7d7d7d;
}

.card-page-4-price {
  color: #ffffff;
  font-weight: 700;
}

.card-page-4-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  max-width: 60%;
  margin: 0 auto;
  align-items: center;
}

.card-page-4-buttons .first-button {
  appearance: none;
  color: #101015;
  background-color: #1e9cff;
  padding: 10px 75px;
  border: 1px solid #1e9cff;
  border-radius: 10px;
  font-weight: 600;
}

.card-page-4-buttons .last-button {
  appearance: none;
  color: #ffffff;
  background-color: #202024;
  padding: 10px 65px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  font-weight: 600;
}

.card-page-4-buttons .first-button:hover {
  filter: brightness(200%);
  filter: contrast(80%);
}

.card-page-4-buttons .last-button:hover {
  filter: brightness(200%);
  filter: contrast(80%);
}

.card-page-4-buttons #disabled {
  opacity: 40%;
  padding: 10px 70px;
}

.card-page-4-buttons #disabled:hover {
  opacity: 40%;
  filter: brightness(0%);
  filter: contrast(100%);
}
