@import url("styles.css");

main {
  margin-left: 170px;
}

.game-carosello-section {
  display: flex;
  flex-direction: row;
  gap: 20px;
  max-width: 90%;
  height: 1200px;
}

.carosello-and-desc {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.carosello-game-p p {
  padding: 30px 0;
  font-size: 17px;
}

.carosello-genres-feature {
  display: flex;
  gap: 200px;
}

.genres-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.feature-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 20px;
  border-left: 2px solid #2a2a2a;
}

.carosello-genres {
  display: flex;
  gap: 10px;
}

.carosello-feature {
  display: flex;
  gap: 10px;
}

.genres-p {
  background-color: #2a2a2a;
  padding: 5px;
  border: none;
  border-radius: 5px;
}

.carosello-game-desc {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 40px 0;
  overflow: hidden;
}

.carosello-game-desc p {
  color: #cccccc;
}

.carosello-desc-p ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style-type: disc;
  color: #ffff;
}

.carosello-show-more {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
  padding: 11px 0;
}

.carosello-show-more svg {
  color: rgb(255, 98, 0);
  height: 20px;
}

.carosello-show-more p {
  color: #1e9cff;
}

.carosello-show-more:hover p {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .game-carosello-section {
    display: flex;
    flex-direction: column;
  }
  .carosello-game-desc {
    max-height: 500px;
    overflow: hidden;
  }

  .sticky-container {
    justify-content: flex-start;
  }

  .card-page-4-container {
    width: 100%;
  }
  .card-page-4-section {
    overflow: hidden;
  }
  .card-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .image-container {
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 375px) {
  .section-card-page-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
