main {
  max-width: 1350px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.carousel-1 {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.carousel-if-1 {
  width: 100%;
  display: flex;
  height: auto;
  flex-grow: 1;
}

#Logo:hover ~ .logo-dropdown-container {
  display: flex;
}

@media screen and (max-width: 768px) {
  .carousel-if-1 {
    width: 100%;
  }

  .carousel-if-2 {
    display: none;
  }

  .navbar-2 {
    justify-content: center;
  }

  .flex-content {
    overflow: scroll hidden;
  }
}

@media screen and (max-width: 376px) {
  .carousel-if-1 .container-buttons {
    display: none;
  }

  .logo-game {
    width: 100%;
  }

  .flex-content {
    overflow: scroll hidden;
  }
}
