@import url('../../assets/css/common.css'); /* todo: fix styles based on reset */

body {
    width: auto;
    height: 450px;
    font-family: Arial, Helvetica, sans-serif;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.card-carosello2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2px 15px;
    gap: 10px;
    background-color: #28282c;
    color: white;
    width: auto; /* cambiato su auto */
    height: 15%;
    border-radius: 8px;
}

.card-carosello2-image {
    border-radius: 6px;
    height: 30px;
    width: auto;
    object-fit: cover;
}

.card-carosello2 p {
    margin: 0;                 
    font-size: 14px;          
    color: white;  
    font-family: Arial, Helvetica, sans-serif;           
    height:100%;
    flex-grow: 1;
    align-items: center;
}

.card-carosello2:hover {
    background-color: #3a3a3e;
}
