.nav-container {
  height: 70px;
  background-color: rgb(22, 22, 28);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.distribute-con {
  display: flex;
  gap: 5px;
  align-items: center;
}

.distribute-con svg {
  width: 15px;
}

#Logo {
  height: 26px;
  padding: 25px;
}

#Globe {
  height: 30%;
}

#Store {
  font-weight: 900;
  padding: 20px;
}

#Store:hover {
  opacity: 50%;
  transition: 0.2s;
}

#Globe:hover {
  opacity: 50%;
  transition: 0.2s;
}

#Logo:hover {
  opacity: 50%;
  transition: 0.2s;
}

#Nav-Hamburger {
  height: 30%;
  margin-right: 10px;
}

.Nav-Main {
  display: flex;
  flex-direction: row;
  height: 70px;
  justify-content: space-between;
  width: 100%;
}

.Nav-Logo,
.Nav-Log-Bar,
.Nav-Tool-Bar,
.Nav-Mobile-Bar {
  display: flex;
  align-items: center;
}

.Nav-Mobile-Bar {
  display: none;
}

select {
  font-size: 16px;
  background-color: rgb(22, 22, 28);
  border-color: rgb(22, 22, 28);
  font-family: sans-serif;
  color: white;
}

.Nav-Tool-Bar > ul {
  display: flex;
  align-items: center;
}

.Log {
  border-radius: 5px;
  background-color: #474747;
  padding: 4px 12px;
  margin-left: 10px;
  margin-right: 10px;
}

.Nav-List-Bar {
  display: flex;
  gap: 20px;
}

.Nav-List-Bar li:hover {
  opacity: 50%;
}

.distribute-list {
  display: flex;
  align-items: center;
}

.distribute-list a {
  padding: 0;
  margin-right: 5px;
}

.distribute-list svg {
  width: 12px;
}

.Download {
  border-radius: 5px;
  background-color: #26bbff;
  color: black;
  padding: 4px 12px;
  margin-right: 10px;
}

.Nav-List-Bar > li,
a {
  text-decoration: none;
  list-style: none;
  color: white;
  font-family: sans-serif;
  font: 16px;
}

@media screen and (max-width: 768px) {
  .Nav-Tool-Bar,
  .Nav-Log-Bar {
    display: none;
  }

  .Nav-Mobile-Bar {
    display: flex;
  }

  .Nav-Main {
    justify-content: flex-end;
  }
}
