<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="../../assets/css/common.css" />
    <title>Sticky Card</title>
  </head>
  <body>
    <div class="sticky-container">
      <div class="sticky-img">
        <img
          src="https://cdn1.epicgames.com/spt-assets/1a47c7bc94f0452885db1f9695ebb7e4/the-coma-2b-catacomb-logo-1qo94.png?resize=1&w=480&h=270&quality=medium"
          alt="sticky-img"
        />
      </div>
      <div class="base-and-price">
        <div class="base-game">
          <span>Gioco base</span>
        </div>
        <div class="sticky-price">
          <span>€14.99</span>
        </div>
      </div>
      <div class="sticky-buttons">
        <input type="button" value="Buy Now" />
        <input type="button" value="Add to Cart" />
        <input type="button" value="Add to Wishlist" />
      </div>
      <div class="sticky-desc">
        <div class="sticky-desc-span">
          <span class="first-desc-span">Ricompense Epic</span>
          <div class="sticky-desc-2">
            <span>Recupera il 10%</span>
            <svg
              style="color: #72d3ff"
              xmlns="http://www.w3.org/2000/svg"
              class="svg css-uwwqev"
              viewBox="0 0 20 20"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M10 20C15.5228 20 20 15.5228 20 10C20 4.47715 15.5228 0 10 0C4.47715 0 0 4.47715 0 10C0 15.5228 4.47715 20 10 20ZM10.3827 3.07523C10.2512 2.71987 9.74862 2.71987 9.61712 3.07523L8.69694 5.562C8.1595 7.01439 7.01439 8.1595 5.562 8.69694L3.07523 9.61712C2.71987 9.74862 2.71987 10.2512 3.07523 10.3827L5.562 11.3029C7.01439 11.8403 8.1595 12.9855 8.69694 14.4378L9.61712 16.9246C9.74862 17.28 10.2512 17.28 10.3827 16.9246L11.3029 14.4378C11.8403 12.9855 12.9855 11.8403 14.4378 11.3029L16.9246 10.3827C17.28 10.2512 17.28 9.74862 16.9246 9.61712L14.4378 8.69694C12.9855 8.1595 11.8403 7.01439 11.3029 5.562L10.3827 3.07523Z"
                fill="currentColor"
              ></path>
            </svg>
          </div>
        </div>
        <div class="sticky-desc-span">
          <span class="first-desc-span">Tipo di rimborso</span>
          <div class="sticky-desc-2">
            <span>Auto-rimborsabile</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 5.25h.008v.008H12v-.008Z"
              />
            </svg>
          </div>
        </div>
        <div class="sticky-desc-span">
          <span class="first-desc-span">Sviluppatore</span>
          <div class="sticky-desc-2">
            <span>Dvora Studio Co., Ltd.</span>
          </div>
        </div>
        <div class="sticky-desc-span">
          <span class="first-desc-span">Distributore</span>
          <div class="sticky-desc-2">
            <span>Headup Publishing</span>
          </div>
        </div>
        <div class="sticky-desc-span">
          <span class="first-desc-span">Data di uscita</span>
          <div class="sticky-desc-2">
            <span>25/10/24</span>
          </div>
        </div>
        <div class="sticky-desc-span">
          <span class="first-desc-span">Piattaforma</span>
          <div class="sticky-desc-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="svg css-uwwqev"
              viewBox="0 0 512 512"
            >
              <title>Windows</title>
              <g>
                <path
                  fill="currentColor"
                  d="M0.175 256l-0.175-156.037 192-26.072v182.109zM224 69.241l255.936-37.241v224h-255.936zM479.999 288l-0.063 224-255.936-36.008v-187.992zM192 471.918l-191.844-26.297-0.010-157.621h191.854z"
                ></path>
              </g>
            </svg>
          </div>
        </div>
        <div class="bottom-desc">
          <div class="bottom-span">
            <span>Vedi tutte le edizioni e gli add-on</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m19.5 8.25-7.5 7.5-7.5-7.5"
              />
            </svg>
          </div>
          <div class="bottom-button">
            <button>
              <svg
                aria-hidden="true"
                class="eds_5nt5ak0 eds _5nt5ak9 eds_14hl3lj7"
                width="24"
                height="24"
                viewBox="0 0 24 24"
              >
                <path
                  d="M16.5 3.25a2.75 2.75 0 1 0 0 5.5 2.75 2.75 0 0 0 0-5.5M12.25 6a4.25 4.25 0 1 1 .937 2.662l-3.655 1.993a4.25 4.25 0 0 1 0 2.69l3.655 1.993a4.25 4.25 0 1 1-.72 1.316l-3.654-1.992a4.25 4.25 0 1 1 0-5.323l3.654-1.994A4.3 4.3 0 0 1 12.25 6M5.5 9.25a2.75 2.75 0 1 0 0 5.5 2.75 2.75 0 0 0 0-5.5m11 6a2.75 2.75 0 1 0 0 5.5 2.75 2.75 0 1 0 0-5.5"
                  clip-rule="evenodd"
                  fill-rule="evenodd"
                ></path>
              </svg>
              <span>Condividi</span>
            </button>
            <button>
              <svg
                aria-hidden="true"
                class="eds_5nt5ak0 eds_5nt5ak9 eds_14hl3lj7"
                width="24"
                height="24"
                viewBox="0 0 24 24"
              >
                <path
                  d="M6.5 2.25A2.25 2.25 0 0 0 4.25 4.5V21a.75.75 0 0 0 1.5 0v-7.25H20a.75.75 0 0 0 .586-1.219L16.96 8l3.625-4.531A.75.75 0 0 0 20 2.25zM5.75 4.5a.75.75 0 0 1 .75-.75h11.94l-3.026 3.781a.75.75 0 0 0 0 .938l3.025 3.781H5.75z"
                  clip-rule="evenodd"
                  fill-rule="evenodd"
                ></path>
              </svg>
              <span>Segnala</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
