.sticky-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  position: sticky;
  top: 0;
}

.sticky-img > img {
  width: 280px;
}

.base-game {
  padding: 0 20px;
  display: block;
}

.base-game > span {
  background-color: #2a2a2a;
  width: fit-content;
  color: #ffffff;
  padding: 5px 8px;
  border: 1px solid none;
  border-radius: 5px;
  font-size: 14px;
}
.sticky-price {
  color: #ffffff;
  padding: 20px;
  font-weight: 800;
}

.sticky-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.sticky-buttons > input {
  appearance: none;
  width: 300px;
  background-color: #2a2a2a;
  color: #ffffff;
  padding: 12px 50px;
  font-weight: 700;
  border: 1px solid #2a2a2a;
  border-radius: 10px;
  box-shadow: initial;
}

.sticky-buttons input:first-child {
  background-color: #1e9cff;
  color: #101015;
}

.sticky-buttons > input:hover {
  filter: brightness(150%);
  filter: contrast(80%);
}

.sticky-desc {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: fit-content;
  gap: 20px;
}

.sticky-desc-span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #ffffff;
  align-items: center;
}

.sticky-desc-span > .sticky-desc-2 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  padding-left: 70px;
}

.sticky-desc-2 > svg {
  width: 20px;
  color: black;
}

.bottom-span {
  color: #ffffff;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.bottom-span svg {
  width: 20px;
  color: #101015;
}

.bottom-span:hover {
  text-decoration: underline;
}

.bottom-button {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 20px 0;
}

.bottom-button > button {
  appearance: none;
  width: 150px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #2a2a2a;
  border: 1px solid #2a2a2a;
  border-radius: 5px;
  box-shadow: initial;
  padding: 4px;
}

.bottom-button button:hover {
  filter: brightness(200%);
  filter: contrast(80%);
}

.base-and-price {
  display: block;
  padding-right: 230px;
  padding-top: 10px;
}

.first-desc-span {
  color: #cccccc;
}

@media screen and (max-width: 375px) {
  .sticky-img > img {
    max-width: 250px;
    justify-content: center;
    align-items: center;
  }

  .sticky-buttons > input {
    width: 300px;
  }

  .base-and-price {
    padding-right: 230px;
  }

  .bottom-button {
    gap: 20px;
  }
}
