<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/css/common.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="card-container">
      <div class="card2">
        <div class="image-card">
          <img
            alt="NFS Unbound Vol. 9 Speed Pass"
            src="https://cdn2.unrealengine.com/egs-need-for-speed-underground-vol-9-breaker-1920x1080-039428697180.jpg?resize=1&amp;w=854&amp;h=480&amp;quality=medium"
            class="css-lyfb9t"
            data-image="https://cdn2.unrealengine.com/egs-need-for-speed-underground-vol-9-breaker-1920x1080-039428697180.jpg?resize=1&amp;w=854&amp;h=480&amp;quality=medium"
            data-testid="picture-image"
          />
          <button class="wishlist-button"> <i class="fas fa-plus"></i></button>
        </div>

        <div class="card-content">
          <h2>Fortnite</h2>
          <p>
            Make the world yours and bring a new sound with music icon Juice
            WRLD.
          </p>
          <button>
            <span>Play Now</span>
          </button>
        </div>
      </div>
      <div class="card2">
        <div class="image-card">
          <img
            alt="Avatar: Frontiers of Pandora™"
            src="https://cdn2.unrealengine.com/egs-avatar-frontiers-of-pandora-secrets-of-the-spires-dlc-breaker-1920x1080-19486d2bc8a7.jpg?resize=1&amp;w=854&amp;h=480&amp;quality=medium"
            class="css-lyfb9t"
            data-image="https://cdn2.unrealengine.com/egs-avatar-frontiers-of-pandora-secrets-of-the-spires-dlc-breaker-1920x1080-19486d2bc8a7.jpg?resize=1&amp;w=854&amp;h=480&amp;quality=medium"
            data-testid="picture-image"
          />
          <button class="wishlist-button"><i class="fas fa-plus"></i></button>
        </div>

        <div class="card-content">
          <h2>Avatar: Frontiers of Pandora™</h2>
          <p>
            Epic aerial battles await in the Spires of the Clouded Forest in the Secrets of the Spires DLC
          </p>
          <button>
            <span>Play Now</span>
          </button>
        </div>
      </div>
    </div>
  </body>
</html>