<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="card2">
      <div class="image-card">
        <img
          alt="Fortnite"
          src="https://cdn2.unrealengine.com/fnbr-32-00-c5s5-kelplinen-outfit-backbling-wrap-instrument-1920x1080-1920x1080-d1880774be3d.jpg?resize=1&amp;w=854&amp;h=480&amp;quality=medium"
          class="css-lyfb9t"
          data-image="https://cdn2.unrealengine.com/fnbr-32-00-c5s5-kelplinen-outfit-backbling-wrap-instrument-1920x1080-1920x1080-d1880774be3d.jpg?resize=1&amp;w=854&amp;h=480&amp;quality=medium"
          data-testid="picture-image"
        />
      </div>

      <div class="card-content">
        <h2>Fortnite</h2>
        <p>
          Make the world yours
          and bring a new sound with music
          icon Juice WRLD.
        </p>
        <button>
          <span>See in shop</span>
          <svg
            aria-hidden="true"
            class="eds_5nt5ak0 eds_5nt5ak9"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              d="M15.25 4a.75.75 0 0 1 .75-.75h5.75V9a.75.75 0 0 1-1.5 0V5.81l-6.72 6.72a.75.75 0 1 1-1.06-1.06l6.72-6.72H16a.75.75 0 0 1-.75-.75M6.5 7.75a.75.75 0 0 0-.75.75v10c0 .414.336.75.75.75h10a.75.75 0 0 0 .75-.75V16a.75.75 0 0 1 1.5 0v2.5a2.25 2.25 0 0 1-2.25 2.25h-10a2.25 2.25 0 0 1-2.25-2.25v-10A2.25 2.25 0 0 1 6.5 6.25H9a.75.75 0 0 1 0 1.5z"
              clip-rule="evenodd"
              fill-rule="evenodd"
            ></path>
          </svg>
        </button>
      </div>
    </div>
  </body>
</html>
