<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="../../assets/css/common.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="dropdown-discover-mobile">
      <div class="ddm-container">
        <a href="#" class="active-link-mobile">Scopri</a>
        <a href="#">Naviga</a>
        <a href="#">Notizie</a>
      </div>
    </div>
  </body>
</html>
