<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/css/common.css" />
    <link rel="stylesheet" href="style.css" />
    <title>Distribuisci</title>
  </head>
  <body>
    <div class="logo-dropdown-container">
      <div class="play-discover">
        <div class="play-grid">
          <div class="dd-grid-title">
            <span>Play</span>
          </div>
          <div class="play-grid-elements">
            <div class="play-grid-single-element">
              <img
                src="https://cms-assets.unrealengine.com/gdXF6wXaRzq7FLerxFmv"
                alt="play-logo-f"
              />
              <span>Fortnite</span>
            </div>
            <div class="play-grid-single-element">
              <img
                src="https://cms-assets.unrealengine.com/nvjfw8LwTbyiETLiJEeE"
                alt="play-logo-rocket"
              />
              <span>Rocket League</span>
            </div>
            <div class="play-grid-single-element">
              <img
                src="https://cms-assets.unrealengine.com/1MdipiMMQeSDZe15gy3V"
                alt="play-logo-fall"
              />
              <span>Fall Guys</span>
            </div>
          </div>
        </div>
        <div class="discover-grid">
          <div class="dd-grid-title">
            <span>Discover</span>
          </div>
          <div class="play-grid-elements">
            <div class="play-grid-single-element">
              <img
                src="https://cms-assets.unrealengine.com/aChpm2RFQ3k8uQWWVwgM"
                alt="play-logo-f"
              />
              <span>Epic Games Store</span>
            </div>
            <div class="play-grid-single-element">
              <img
                src="https://cms-assets.unrealengine.com/VYHbV8mMQhCzjH0TIGVO"
                alt="play-logo-rocket"
              />
              <span>Fab</span>
            </div>
            <div class="play-grid-single-element">
              <img
                src="https://cms-assets.unrealengine.com/SueHxUd6SFy59VZItanD"
                alt="play-logo-fall"
              />
              <span>Sketchfab</span>
            </div>
            <div class="play-grid-single-element">
              <img
                src="https://cms-assets.unrealengine.com/GnVa6hUTtSLOfMZrWNxe"
                alt="play-logo-fall"
              />
              <span>Art Station</span>
            </div>
          </div>
        </div>
      </div>
      <div class="create-grid">
        <div class="dd-grid-title">
          <span>Create</span>
        </div>
        <div class="play-grid-elements">
          <div class="play-grid-single-element">
            <img
              src="https://cms-assets.unrealengine.com/B8hDILAISampfm5yFOQA"
              alt="play-logo-f"
            />
            <span>Unreal Engine</span>
          </div>
          <div class="play-grid-single-element">
            <img
              src="https://cms-assets.unrealengine.com/gdXF6wXaRzq7FLerxFmv"
              alt="play-logo-rocket"
            />
            <span>Create in Fortnite</span>
          </div>
          <div class="play-grid-single-element">
            <img
              src="https://cms-assets.unrealengine.com/E3A9GiKvTxe0vldk0b7T"
              alt="play-logo-fall"
            />
            <span>MetaHuman</span>
          </div>
          <div class="play-grid-single-element">
            <img
              src="https://cms-assets.unrealengine.com/bx1K2n3URsKKIismuqzF"
              alt="play-logo-fall"
            />
            <span>Twinmotion</span>
          </div>
          <div class="play-grid-single-element">
            <img
              src="https://cms-assets.unrealengine.com/fBKKKvETTG2PSGTs19a9"
              alt="play-logo-fall"
            />
            <span>RealityScan</span>
          </div>
          <div class="play-grid-single-element">
            <img
              src="https://cms-assets.unrealengine.com/4hsNBIcXQcCzsN0FYLfD"
              alt="play-logo-fall"
            />
            <span>RealityCapture</span>
          </div>
          <div class="play-grid-single-element">
            <img
              src="https://cms-assets.unrealengine.com/aChpm2RFQ3k8uQWWVwgM"
              alt="play-logo-fall"
            />
            <span>Epic Online Services</span>
          </div>
          <div class="play-grid-single-element">
            <img
              src="https://cms-assets.unrealengine.com/aChpm2RFQ3k8uQWWVwgM"
              alt="play-logo-fall"
            />
            <span>Publish on Epic Games Store</span>
          </div>
          <div class="play-grid-single-element">
            <img
              src="https://cms-assets.unrealengine.com/ijWMz82OStqcWRGDawM9"
              alt="play-logo-fall"
            />
            <span>Kids Web Services</span>
          </div>
          <div class="play-grid-single-element">
            <img
              src="https://cms-assets.unrealengine.com/aChpm2RFQ3k8uQWWVwgM"
              alt="play-logo-fall"
            />
            <span>Developer Community</span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
