<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>card-page-1</title>
    <link rel="stylesheet" href="../../assets/css/common.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="title-card-page-1">
      <h1>The Coma 2B: Catacomb</h1>
    </div>
    <div class="game-specifications">
      <ul>
        <li><a href="#panoramica">Panoramica</a></li>
        <li><a href="#add-on">Add-on</a></li>
        <li><a href="#obiettivi">Obiettivi</a></li>
      </ul>
    </div>
    <section class="section-card-page-1">
      <div class="card-page-1">
        <img
          src="../card-page-1/assets/the coma.jpg"
          alt="img-page"
          class="card-img"
        />
        <a href="img-cliccabile" class="clickable"></a>
      </div>
    </section>
  </body>
</html>
