<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="../../assets/css/common.css" />
    <title>Distribuisci</title>
  </head>
  <body>
    <div class="distribute-drop-container">
      <div class="distribute-element">
        <p>Distribute on Epic Games Store</p>
      </div>
      <div class="distribute-element">
        <p>Developer Forums</p>
      </div>
      <div class="distribute-element">
        <p>Documentation</p>
      </div>
      <div class="distribute-element">
        <p>Learning</p>
      </div>
    </div>
  </body>
</html>
