<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Card Epic</title>
    <!-- @import url("../../common.css"); -->
    <link rel="stylesheet" href="../../assets/css/common.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <section class="section-card-1">
      <div class="card">
        <img
          src="../../../EpicGamesUI/assets/card-1/voidwrought immagine in card.jpg"
          alt="voidwrought"
          class="card-img"
        />
        <div class="card-header">
          <p>Base Game</p>
          <h2>Voidwrought</h2>
          <h3>€17.99</h3>
        </div>
      </div>
    </section>
  </body>
</html>
