<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="c-cards-game-page-2">
        <div class="c-buttongleft"><button class="c-bgleft"></button></div>
        <div class="c-section-cards-game">
            <div class="c-game-card"><img src="" alt="IMMAGINE GIOCO"></div>
            <div class="c-game-card"><img src="" alt="IMMAGINE GIOCO"></div>
            <div class="c-game-card"><img src="" alt="IMMAGINE GIOCO"></div>
            <div class="c-game-card"><img src="" alt="IMMAGINE GIOCO"></div>
            <div class="c-game-card"><img src="" alt="IMMAGINE GIOCO"></div>
            <div class="c-game-card"><img src="" alt="IMMAGINE GIOCO"></div>
            <div class="c-game-card"><img src="" alt="IMMAGINE GIOCO"></div>
        </div>
        <div class="c-buttongright"><button class="c-bgright"></button></div>
    </section>
</body>
</html>