<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <section class="c-section-cards-game">
      <div class="c-buttongleft"><button class="c-bgleft"><</button></div>
      <div class="c-cards-game-page-2">
        <div class="c-game-card" id="c1">
          <img
            src="https://cdn1.epicgames.com/spt-assets/1a47c7bc94f0452885db1f9695ebb7e4/the-coma-2b-catacomb-190kr.jpg?resize=1&w=480&h=270&quality=medium"
            alt="IMMAGINE GIOCO"
          />
        </div>
        <div class="c-game-card" id="c2">
          <img
            src="https://cdn1.epicgames.com/spt-assets/1a47c7bc94f0452885db1f9695ebb7e4/the-coma-2b-catacomb-3ir7r.jpg?resize=1&w=480&h=270&quality=medium"
            alt="IMMAGINE GIOCO"
          />
        </div>
        <div class="c-game-card" id="c3">
          <img
            src="https://cdn1.epicgames.com/spt-assets/1a47c7bc94f0452885db1f9695ebb7e4/the-coma-2b-catacomb-1v20r.jpg?resize=1&w=480&h=270&quality=medium"
            alt="IMMAGINE GIOCO"
          />
        </div>
        <div class="c-game-card" id="c4">
          <img
            src="https://cdn1.epicgames.com/spt-assets/1a47c7bc94f0452885db1f9695ebb7e4/the-coma-2b-catacomb-1r03x.jpg?resize=1&w=480&h=270&quality=medium"
            alt="IMMAGINE GIOCO"
          />
        </div>
        <div class="c-game-card" id="c5">
          <img
            src="https://cdn1.epicgames.com/spt-assets/1a47c7bc94f0452885db1f9695ebb7e4/the-coma-2b-catacomb-1e3xi.jpg?resize=1&w=480&h=270&quality=medium"
            alt="IMMAGINE GIOCO"
          />
        </div>
        <div class="c-game-card" id="c6">
          <img
            src="https://cdn1.epicgames.com/spt-assets/1a47c7bc94f0452885db1f9695ebb7e4/the-coma-2b-catacomb-rfnku.jpg?resize=1&w=480&h=270&quality=medium"
            alt="IMMAGINE GIOCO"
          />
        </div>
        <div class="c-game-card" id="c7">
          <img
            src="https://cdn1.epicgames.com/spt-assets/1a47c7bc94f0452885db1f9695ebb7e4/the-coma-2b-catacomb-1r4im.jpg?resize=1&w=480&h=270&quality=medium"
            alt="IMMAGINE GIOCO"
          />
        </div>
      </div>
      <div class="c-buttongright"><button class="c-bgright">></button></div>
    </section>
  </body>
</html>
