<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carosello-1</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container display-grid column-2 row-2">
        <div class="container-overlay grid-column-1 grid-row-1 grid-span-row-2 align-center top-spacing">
            <div id="logo">
                <img src="https://via.placeholder.com/150" alt="logo">
            </div>
        </div>
    </div>
</body>

</html>