<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carosello-1</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <div class="container display-grid column-2 row-2">
        <div class="container-overlay grid-column-1 grid-row-1 grid-span-row-2 align-center just-center">
            <div class="absolute align-left  top-20">
                <img class="logo-game" src="../../assets/logo_staked2.png" alt="logo">
                <p id="preorder" class="mt-spacing-2">DISPONIBILE DAL 20 NOVEMBER</p>
                <p>Vai alla scoperta della vasta Zona di alienazione di Chornobyl, piena di nemici pericolosi, letali
                    anomalie e potenti artefatti.</p>
                <p id="price">€79.99</p>
                <div class="container-buttons">
                    <button id="buy">Pre-acquista ora</button>
                    <button id="my-list" class="align-center flex space-bt">
                        <i class="fa-stack custom-icon padding-10 flex align-left just-start w100">
                            <i class="fa-regular fa-circle fa-stack-2x"></i>
                            <i class="fa-solid fa-plus fa-stack-1x"></i>
                        </i>
                        <p>Lista dei desideri</p>
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>