<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carosello-1</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container display-grid column-2 row-2">
        <div class="container-overlay grid-column-1 grid-row-1 grid-span-row-2 align-center just-center">
            <div class="absolute align-left just-center top-50">
                <img class="logo-game" src="../../assets/logo_staked2.png" alt="logo">
                <p id="preorder">DISPONIBILE DAL 20 NOVEMBER</p>
                <p>Vai alla scoperta della vasta Zona di alienazione di Chornobyl, piena di nemici pericolosi, letali anomalie e potenti artefatti.</p>
                <p id="price">79.99€</p>
                <div class="container-buttons">
                    <button id="buy">Pre-acquista ora</button>
                    <button id="my-list"><i class="fas fa-cloud" style="font-size:54px;"></i>Compra Ora</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>