@import url('../../common.css');

.container {
    position: relative;
    width: 100%;
    height: 400px;
    margin: 0;
    padding: 0;
    background-image: url('../../assets/stalked.jpeg');
    background-size: cover;
    background-position: center;
    border: 2px solid transparent;
    border-radius: 20px;
}
