@import url('../../common.css');

body {
    width: auto;
    height: auto;
}

p {
    color: white;
}

p[id="preorder"] {
    font-weight: bold;
}

.container {
    width: 100%;
    height: 460px;
    margin: 0;
    padding: 0;
    background-image: url('../../assets/staked2.jpeg');
    background-size: cover;
    background-position: top;
    border: 2px solid --bg;
    border-radius: 20px;
}

.container-overlay {
    position: relative;
    width: 100%;
    height: 100%;
}

.display-grid {
    display: grid;
}

.column-2 {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.row-2 {
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
}

.grid-item {
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.grid-position-column-1 {
    grid-column: 1;
}

.grid-position-column-2 {
    grid-column: 2;
}

.grid-row-1 {
    grid-row: 1;
}

.grid-row-2 {
    grid-row: 2;
}

.grid-span-col-2 {
    grid-column: span 2;
}

.grid-span-row-2 {
    grid-row: span 2;
}

.align-center {
    text-align: center;
    align-items: center;
}

.just-center {
    justify-content: center;
}

.margin-top-1 {
    margin-top: calc(1 * 8px);
}
.margin-top-2 {
    margin-top: calc(2 * 8px);
}
.margin-top-3 {
    margin-top: calc(3 * 8px);
}
.margin-top-4 {
    margin-top: calc(4 * 8px);
}

.logo-game {
    width:30%;
    height: auto;
}

.absolute {
    position: absolute;
}

.top-50 {
    top: 50%;
}

.left-50 {
    left: 50%;
}

.right-50 {
    right: 50%;
}

.bottom-50 {
    bottom: 50%;
}

.top-0 {
    top: 0;
}

.left-0 {
    left: 0;
}

.right-0 {
    right: 0;
}

.bottom-0 {
    bottom: 0;
}
