@import url('../../common.css');

.container {
    position: relative;
    width: 100%;
    height: aut100%;
    margin: 0;
    padding: 0;
    background-image: url('../../assets/stalked.jpeg');
    background-color: aliceblue;
    background-size: cover;
    background-position: center;
    border: 2px solid white;
    border-radius: 20px;
}
