@import url('../../common.css');

body {
    width: auto;
    height: auto;
}

.container {
    position: relative;
    width: 100%;
    height: 400px;
    margin: 0;
    padding: 0;
    background-image: url('../../assets/stalked.jpeg');
    background-size: cover;
    background-position: center;
    border: 2px solid --bg;
    border-radius: 20px;
}

.container-content {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: auto;
    text-align: center;
}
