<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Dropdown Ricerca</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="../../assets/css/common.css" />
  </head>
  <body>
    <section class="dropdown-ricerca">
      <div class="dropdown-ricerca-element">
        <img
          alt="Agatha Christie -death on the nile"
          src="https://cdn1.epicgames.com/spt-assets/0edf25c1d56f4b1aae21297f81bc3200/agatha-christie--death-on-the-nile-1lzon.jpg?resize=1&amp;w=360&amp;h=480&amp;quality=medium"
          class="dropdown-ricerca-image"
          data-image="https://cdn1.epicgames.com/spt-assets/0edf25c1d56f4b1aae21297f81bc3200/agatha-christie--death-on-the-nile-1lzon.jpg?resize=1&amp;w=360&amp;h=480&amp;quality=medium"
          data-testid="picture-image"
        />

        <p class="dropdown-ricerca-paragrafo">
          Agatha Christie - Death oh the Nile
        </p>
      </div>
      <div class="dropdown-ricerca-element">
        <img
          alt="The Sims 4 Life & Death Expansion Pack"
          src="https://cdn1.epicgames.com/offer/2a14cf8a83b149919a2399504e5686a6/EGS_TheSims4LifeDeathExpansionPack_Maxis_DLC_S2_1200x1600-b0145ee36df1fde1bb6522dda3828dcf?resize=1&amp;w=360&amp;h=480&amp;quality=medium"
          class="dropdown-ricerca-image"
          data-image="https://cdn1.epicgames.com/offer/2a14cf8a83b149919a2399504e5686a6/EGS_TheSims4LifeDeathExpansionPack_Maxis_DLC_S2_1200x1600-b0145ee36df1fde1bb6522dda3828dcf?resize=1&amp;w=360&amp;h=480&amp;quality=medium"
          data-testid="picture-image"
        />
        <p class="dropdown-ricerca-paragrafo">
          The Sims 4 Life & Death Expansion Pack
        </p>
      </div>
      <div class="dropdown-ricerca-element">
        <img
          alt="Red's Demise Katana"
          src="https://cdn1.epicgames.com/offer/236c74b4cd2e4e3099cbe2ebdc9686fd/EGS_RedsDemise_DeepSilverDambusterStudios_AddOn_S2_1200x1600-bf2dfa3824570cba22207a4202d6db25?resize=1&amp;w=360&amp;h=480&amp;quality=medium"
          class="dropdown-ricerca-image"
          data-image="https://cdn1.epicgames.com/offer/236c74b4cd2e4e3099cbe2ebdc9686fd/EGS_RedsDemise_DeepSilverDambusterStudios_AddOn_S2_1200x1600-bf2dfa3824570cba22207a4202d6db25?resize=1&amp;w=360&amp;h=480&amp;quality=medium"
          data-testid="picture-image"
        />
        <p class="dropdown-ricerca-paragrafo">Red's Demise Katana</p>
      </div>
      <div class="dropdown-ricerca-element">
        <img
          alt="Death Coming"
          src="https://cdn1.epicgames.com/58c35a214bbb4656a536126ad1552d42/offer/EGS_DeathComing_NExTStudios_S2-860x1148-8fcfbb18c34364f804e5b79d8e23f590.jpg?resize=1&amp;w=360&amp;h=480&amp;quality=medium"
          class="dropdown-ricerca-image"
          data-image="https://cdn1.epicgames.com/58c35a214bbb4656a536126ad1552d42/offer/EGS_DeathComing_NExTStudios_S2-860x1148-8fcfbb18c34364f804e5b79d8e23f590.jpg?resize=1&amp;w=360&amp;h=480&amp;quality=medium"
          data-testid="picture-image"
        />
        <p class="dropdown-ricerca-paragrafo">Death Coming</p>
      </div>

      <div class="dropdown-ricerca-footer">
        <a href="#">View More</a>
      </div>
    </section>
  </body>
</html>

<div class="dropdown-content"></div>
