.dropdown-ricerca {
  display: none;
  flex-direction: column;
  height: fit-content;
  text-align: left;
  padding: 10px 20px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 10px;
  background-color: rgb(24, 24, 28);
  gap: 10px;
  position: absolute;
  z-index: 2;
  top: 145px;
  left: 190px;
}

.dropdown-ricerca-element {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 470px;
}

.dropdown-ricerca-element a {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: default;
}

.dropdown-ricerca-image {
  border-radius: 6px;
  max-height: 50px;
  width: auto;
  object-fit: cover;
  opacity: 1;
}

.dropdown-ricerca-paragrafo {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-decoration: none;
  cursor: default;
}

.dropdown-ricerca-footer a {
  color: #ffffffa6;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
}

.dropdown-ricerca-footer a:hover {
  text-decoration: none;
}

.dropdown-ricerca-paragrafo:hover {
  text-decoration: underline;
}
