<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Epic Games navbar</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="srcbar">
        <img src="srclogo.svg" alt="srclogo" />
        <input type="search" id="src" placeholder="Search Store" />
      </div>
      <div class="links">
        <a href="#" class="active">Discover</a>
        <a href="#">Browse</a>
        <a href="#">News</a>
      </div>
    </nav>
  </body>
</html>
