<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Dropdown lingue</title>
    <!-- @import url("../../common.css"); -->
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="../../assets/css/common.css" />
  </head>
  <body>
    <section class="section-dropdown">
      <div class="dropdown-content">
        <a href="#">English</a>
        <a href="#">العربية</a>
        <a href="#">Deutsch</a>
        <a href="#">Español</a>
        <a href="#">Español (America Latina)</a>
        <a href="#">Français</a>
        <a href="#" class="selected">Italiano</a>
        <a href="#">日本語</a>
        <a href="#">한국어</a>
        <a href="#">Polski</a>
        <a href="#">Português (Brasil)</a>
        <a href="#">Русский</a>
        <a href="#">ไทย</a>
        <a href="#">Türkçe</a>
        <a href="#">简体中文</a>
        <a href="#">繁體中文</a>
      </div>
    </section>
  </body>
</html>
