<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sezione dlc</title>
    <link
      rel="stylesheet"
      href="../EPIC GAMES UI2/EpicGamesUI/assets/css/common.css"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="flex-sezione-dlc">
      <p class="section-title">The Coma 2B: Catacomb DLC & Add-Ons</p>
      <div class="card-container">
        <div class="image-container">
          <img
            alt="The Coma 2B: Catacomb - The Child of Destiny Skin"
            src="https://cdn1.epicgames.com/spt-assets/1a47c7bc94f0452885db1f9695ebb7e4/the-coma-2b-catacomb-1lavg.jpg?resize=1&amp;w=480&amp;h=270&amp;quality=medium"
            class="image-card5"
            data-image="https://cdn1.epicgames.com/spt-assets/1a47c7bc94f0452885db1f9695ebb7e4/the-coma-2b-catacomb-1lavg.jpg?resize=1&amp;w=480&amp;h=270&amp;quality=medium"
            data-testid="picture-image"
          />
        </div>
        <div class="card5-content">
          <p class="sottotitolo">Add-On</p>
          <h2 class="card-title">The Coma 2B: Catacomb - The Gamer Skin</h2>
          <p class="description">
            Change Youngho's outfit with this fancy add-on!
          </p>
          <hr />
          <div class="card5-content2">
            <div class="prezzi-vari">
              <span class="sconto">-10%</span>
              <span class="prezzo-precedente">€1.99</span>
              <span class="price"> €1.79</span>
            </div>
            <p class="sottotitolo1">Sale ends 1/9/2025 at 5:00 PM</p>
          </div>

          <div class="button-container">
            <button class="add-to-cart">Add to Cart</button>
            <button class="add-to-wishlist">Add to wishlist</button>
          </div>
        </div>
      </div>
      <div class="card-container">
        <div class="image-container">
          <img
            alt="The Coma 2B: Catacomb - The Child of Destiny Skin"
            src="https://cdn1.epicgames.com/spt-assets/1a47c7bc94f0452885db1f9695ebb7e4/the-coma-2b-catacomb-1lavg.jpg?resize=1&amp;w=480&amp;h=270&amp;quality=medium"
            class="image-card5"
            data-image="https://cdn1.epicgames.com/spt-assets/1a47c7bc94f0452885db1f9695ebb7e4/the-coma-2b-catacomb-1lavg.jpg?resize=1&amp;w=480&amp;h=270&amp;quality=medium"
            data-testid="picture-image"
          />
        </div>
        <div class="card5-content">
          <p class="sottotitolo">Add-On</p>
          <h2 class="card-title">
            The Coma 2B: Catacomb - The Child of Destiny Skin
          </h2>
          <p class="description">
            Change Youngho's outfit with this fancy add-on!
          </p>
          <hr />
          <div class="card5-content2">
            <div class="prezzi-vari">
              <span class="sconto">-10%</span>
              <span class="prezzo-precedente">€1.99</span>
              <span class="price"> €1.79</span>
            </div>
            <p class="sottotitolo1">Sale ends 1/9/2025 at 5:00 PM</p>
          </div>

          <div class="button-container">
            <button class="add-to-cart">Add to Cart</button>
            <button class="add-to-wishlist">Add to wishlist</button>
          </div>
        </div>
      </div>
      <div class="card-container">
        <div class="image-container">
          <img
            alt="The Coma 2B: Catacomb - The Child of Destiny Skin"
            src="https://cdn1.epicgames.com/spt-assets/1a47c7bc94f0452885db1f9695ebb7e4/the-coma-2b-catacomb-1lavg.jpg?resize=1&amp;w=480&amp;h=270&amp;quality=medium"
            class="image-card5"
            data-image="https://cdn1.epicgames.com/spt-assets/1a47c7bc94f0452885db1f9695ebb7e4/the-coma-2b-catacomb-1lavg.jpg?resize=1&amp;w=480&amp;h=270&amp;quality=medium"
            data-testid="picture-image"
          />
        </div>
        <div class="card5-content">
          <p class="sottotitolo">Add-On</p>
          <h2 class="card-title">
            The Coma 2B: Catacomb - The Survivalist Skin
          </h2>
          <p class="description">
            Change Youngho's outfit with this fancy add-on!
          </p>
          <hr />
          <div class="card5-content2">
            <div class="prezzi-vari">
              <span class="sconto">-10%</span>
              <span class="prezzo-precedente">€1.99</span>
              <span class="price"> €1.79</span>
            </div>
            <p class="sottotitolo1">Sale ends 1/9/2025 at 5:00 PM</p>
          </div>

          <div class="button-container">
            <button class="add-to-cart">Add to Cart</button>
            <button class="add-to-wishlist">Add to wishlist</button>
          </div>
        </div>
      </div>
      <div class="link-see-more">
        <p class="scritta-see-more">See more</p>
        <svg
          aria-hidden="true"
          class="icona-freccia"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            d="M14.47 6.47a.75.75 0 0 1 1.06 0L21.06 12l-5.53 5.53a.75.75 0 1 1-1.06-1.06l3.72-3.72H4a.75.75 0 0 1 0-1.5h14.19l-3.72-3.72a.75.75 0 0 1 0-1.06"
            clip-rule="evenodd"
            fill-rule="evenodd"
          ></path>
        </svg>
      </div>
    </div>
  </body>
</html>
