<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="../../assets/css/common.css" />
    <title>card page 4</title>
  </head>
  <body>
    <div class="card-page-4-container">
      <div class="card-page-4-img">
        <img
          src="https://cdn1.epicgames.com/spt-assets/1a47c7bc94f0452885db1f9695ebb7e4/the-coma-2b-catacomb-ii5am.jpg?resize=1&w=480&h=270&quality=medium"
          alt="top-img"
        />
      </div>
      <div class="card-page-4-desc">
        <span class="card-page-4-title">The Coma 2B: Catacomb</span>
        <div class="v-desc">
          <svg
            aria-hidden="true"
            class="eds_5nt5ak0 eds_5nt5ak9 css-1edkkt8"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              d="M21.53 4.97a.75.75 0 0 1 0 1.06L8.5 19.06l-6.03-6.03a.75.75 0 1 1 1.06-1.06l4.97 4.97L20.47 4.97a.75.75 0 0 1 1.06 0"
              clip-rule="evenodd"
              fill-rule="evenodd"
            ></path>
          </svg>
          <span>The Coma 2B: Catacomb</span>
        </div>
        <div class="x-desc">
          <svg
            aria-hidden="true"
            class="eds_5nt5ak0 eds_5nt5ak9 css-1y5epw9"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              d="M4.47 4.47a.75.75 0 0 1 1.06 0L12 10.94l6.47-6.47a.75.75 0 1 1 1.06 1.06L13.06 12l6.47 6.47a.75.75 0 1 1-1.06 1.06L12 13.06l-6.47 6.47a.75.75 0 0 1-1.06-1.06L10.94 12 4.47 5.53a.75.75 0 0 1 0-1.06"
              clip-rule="evenodd"
              fill-rule="evenodd"
            ></path>
          </svg>
          <span>The Coma 2B: Catacomb - Original Soundtrack</span>
        </div>
        <div class="x-desc">
          <svg
            aria-hidden="true"
            class="eds_5nt5ak0 eds_5nt5ak9 css-1y5epw9"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              d="M4.47 4.47a.75.75 0 0 1 1.06 0L12 10.94l6.47-6.47a.75.75 0 1 1 1.06 1.06L13.06 12l6.47 6.47a.75.75 0 1 1-1.06 1.06L12 13.06l-6.47 6.47a.75.75 0 0 1-1.06-1.06L10.94 12 4.47 5.53a.75.75 0 0 1 0-1.06"
              clip-rule="evenodd"
              fill-rule="evenodd"
            ></path>
          </svg>
          <span>The Coma 2B: Catacomb - Artbook</span>
        </div>
        <div class="x-desc">
          <svg
            aria-hidden="true"
            class="eds_5nt5ak0 eds_5nt5ak9 css-1y5epw9"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              d="M4.47 4.47a.75.75 0 0 1 1.06 0L12 10.94l6.47-6.47a.75.75 0 1 1 1.06 1.06L13.06 12l6.47 6.47a.75.75 0 1 1-1.06 1.06L12 13.06l-6.47 6.47a.75.75 0 0 1-1.06-1.06L10.94 12 4.47 5.53a.75.75 0 0 1 0-1.06"
              clip-rule="evenodd"
              fill-rule="evenodd"
            ></path>
          </svg>
          <span>The Coma 2B: Catacomb - The Child of Destiny Skin</span>
        </div>
        <div class="x-desc">
          <svg
            aria-hidden="true"
            class="eds_5nt5ak0 eds_5nt5ak9 css-1y5epw9"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              d="M4.47 4.47a.75.75 0 0 1 1.06 0L12 10.94l6.47-6.47a.75.75 0 1 1 1.06 1.06L13.06 12l6.47 6.47a.75.75 0 1 1-1.06 1.06L12 13.06l-6.47 6.47a.75.75 0 0 1-1.06-1.06L10.94 12 4.47 5.53a.75.75 0 0 1 0-1.06"
              clip-rule="evenodd"
              fill-rule="evenodd"
            ></path>
          </svg>
          <span>The Coma 2B: Catacomb - The Gamer Skin</span>
        </div>
        <div class="x-desc">
          <svg
            aria-hidden="true"
            class="eds_5nt5ak0 eds_5nt5ak9 css-1y5epw9"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              d="M4.47 4.47a.75.75 0 0 1 1.06 0L12 10.94l6.47-6.47a.75.75 0 1 1 1.06 1.06L13.06 12l6.47 6.47a.75.75 0 1 1-1.06 1.06L12 13.06l-6.47 6.47a.75.75 0 0 1-1.06-1.06L10.94 12 4.47 5.53a.75.75 0 0 1 0-1.06"
              clip-rule="evenodd"
              fill-rule="evenodd"
            ></path>
          </svg>
          <span>The Coma 2B: Catacomb - The Survivalist Skin</span>
        </div>
      </div>
      <div class="card-page-4-footer">
        <span class="card-page-4-price">€14.99</span>
        <div class="card-page-4-buttons">
          <input type="button" class="first-button" value="Add to Cart" />
          <input type="button" class="last-button" value="Add to Wishlist" />
        </div>
      </div>
    </div>
  </body>
</html>
