
@import url('https://fonts.google.com/css2?family=Nunito+Sans:wght@200;400;600;800&display=swap');

* {
    font-family: "Nunito Sans", sans-serif;
}

:root {
    --giallo-oro: #FFD15C;
    --grigio-chiaro: #CCCCCC;
    --grigio-scuro: #202024;
    --grigio: #2A2A2A;
    --azzurro: #72D3FF;
    --bianco: #FFFFFF;
    --bg: #101015;
}

body {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: #101015;
}

main {
    padding: 10px 200px;
}
