<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card 3 Section</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <div class="section-card-3">
        <div id="card-1" class="card">
            <img id="card-1-section-3" src="https://cdn2.unrealengine.com/it-fn33-00-c1s1-classic-figment-breaker-keyart-1920x1080-1920x1080-74eaac9aff49.jpg?resize=1&w=854&h=480&quality=medium" alt="">
            <div class="card-container">
                <h3>Fortnite</h3>
                <p>Il sergente è presente. Il bundle CCFN Drake campione è ora disponibile!</p>
                <button class="btn-general">
                    Vedi nel negozio
                    <i class="fa-stack custom-icon padding-10 flex align-left just-start w100"></i>

                </button>
            </div>
        </div>
        <div id="card-2" class="card">
            <img id="card-1-section-3" src="https://cdn2.unrealengine.com/fneco-33-30-spiderverse-social-1920x1080-1920x1080-4d9594c92b5e.jpg?resize=1&w=854&h=480&quality=medium" alt="">
            <div class="card-container">
                <h3>Fortnite</h3>
                <p>Il sergente è presente. Il bundle CCFN Drake campione è ora disponibile!</p>
                <button class="btn-general">
                    Vedi nel negozio
                    <i class="fa-stack custom-icon padding-10 flex align-left just-start w100"></i>

                </button>
            </div>
        </div>
        <div id="card-3" class="card">
            <img id="card-1-section-3" src="https://cdn2.unrealengine.com/fnsp-06-lemoncart-itemshopbundle-social-1920x1080-ece556cdb3f4.jpg?resize=1&w=854&h=480&quality=medium" alt="">
            <div class="card-container">
                <h3>Fortnite</h3>
                <p>Il sergente è presente. Il bundle CCFN Drake campione è ora disponibile!</p>
                <button class="btn-general">
                    Vedi nel negozio
                    <i class="fa-stack custom-icon padding-10 flex align-left just-start w100"></i>

                </button>
            </div>
        </div>
    </div>
</body>

</html>