<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card 3 Section</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="section">
<div id="card-1" class="card">
    <img src="../../assets/card-3/fornite-1.webp" alt="">
        <h2>Fortnite</h2>
</div>
<div id="card-2" class="card">
    <img src="../../assets/card-3/fortnite-2.avif" alt="">

</div>
<div id="card-3" class="card">
    <img src="../../assets/card-3/fornite-3.avif" alt="">

</div>
    </div>
</body>
</html>