<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card 3 Section</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <div id="section">
        <div id="card-1" class="card">
            <img src="../../assets/card-3/fornite-1.webp" alt="">
            <div class="card-container">
                <h3>Fortnite</h3>
                <p>Il sergente è presente. Il bundle CCFN Drake campione è ora disponibile!</p>
                <button class="btn-general">
                    Vedi nel negozio
                    <i class="fa-stack custom-icon padding-10 flex align-left just-start w100"></i>

                </button>
            </div>
        </div>
        <div id="card-2" class="card">
            <img src="../../assets/card-3/fornite-1.webp" alt="">
            <div class="card-container">
                <h3>Fortnite</h3>
                <p>Il sergente è presente. Il bundle CCFN Drake campione è ora disponibile!</p>
                <button class="btn-general">
                    Vedi nel negozio
                    <i class="fa-stack custom-icon padding-10 flex align-left just-start w100"></i>

                </button>
            </div>
        </div>
        <div id="card-3" class="card">
            <img src="../../assets/card-3/fornite-1.webp" alt="">
            <div class="card-container">
                <h3>Fortnite</h3>
                <p>Il sergente è presente. Il bundle CCFN Drake campione è ora disponibile!</p>
                <button class="btn-general">
                    Vedi nel negozio
                    <i class="fa-stack custom-icon padding-10 flex align-left just-start w100"></i>

                </button>
            </div>
        </div>
    </div>
</body>

</html>