@import url('../../common.css');

body {
    width: auto;
    height: 100%;
}

#section {
width: auto;
height: 400px;
background-color: black;
display: grid;
grid-template-columns: repeat(3,1fr);
gap: 10px;
justify-content: center;
}

img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.card[id="card-1"] {
    grid-column: 1 / span 1;
    background-color: transparent;
}

.card[id="card-2"]  {
    grid-column: 2 / span 1;
    background-color: rgb(138, 118, 80);
}

.card[id="card-3"]  {
    grid-column: 3 / span 1;
    background-color: rgb(73, 51, 10);
}
