@import url('../../common.css');

body {
    width: 100%;
    height: 100%;
    
    
}

#section {
width: 100%;
height: 400px;
background-color: black;
display: grid;
grid-template-columns: repeat(3,1fr);


}

.card[id="card-1"] {
    grid-column: span (1);
    background-color: wheat;
}

.card[id="card-2"]  {
    grid-column: span (1);
    background-color: wheat;
}

.card[id="card-3"]  {
    grid-column: span (1);
    background-color: wheat;
}
