<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="../../assets/css/common.css" />
    <title>Card-3</title>
  </head>
  <body>
    <div class="card-container">
      <div class="card-3-img">
        <img src="../../assets/card3/card-3.png" alt="card-3" />
      </div>
      <div class="card-3-desc">
        <span class="card-3-title">Rayman Legends</span>
        <div class="price-box">
          <span class="sconto">-80%</span>
          <span class="inline-price">$29.99</span>
          <span class="price">$5.99</span>
        </div>
      </div>
    </div>
  </body>
</html>
