.navbar-2 {
  display: flex;
  align-items: center;
  background-color: #101015;
  color: #fff;
  width: 100%;
  margin: 0 auto;
  padding: 30px;
  position: relative;
  left: 13%;
  z-index: 1;
}

.nav-container.scrolled .navbar-2 {
  transform: translateY(-50px); /* spostamento quando si scolla */
}

.navbar-2 .navbar-elements {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.navbar-2-links {
  display: flex;
  gap: 20px;
}

.navbar-2-links > a {
  text-decoration: none;
  color: #cccccc;
}

.navbar-2-links > a:hover {
  color: #ffffff;
  transition: 0.2s;
}

.navbar-2-links > .active {
  color: #ffffff;
}

.navbar-elements > .srcbar > img {
  height: 12px;
  padding: 0 2px;
  filter: invert(80%);
}

.navbar-elements > .srcbar > input {
  background-color: #2a2a2a;
  border: none;
}

.navbar-elements > .srcbar {
  background-color: #2a2a2a;
  align-items: center;
  border: 5px solid #2a2a2a;
  border-radius: 15px;
}

.navbar-elements > .srcbar > [type="search"]::-webkit-input-placeholder {
  color: #cccccc;
  font-size: 12px;
}

.navbar-elements > .srcbar > input[type="search"] {
  border: none;
  outline: none;
  color: #ffffff;
}

.navbar-elements > .srcbar:hover {
  opacity: 70%;
  transition: 0.2s;
}

.discover-mobile {
  display: flex;
  align-items: center;
  gap: 5px;
}

.discover-mobile svg {
  width: 18px;
  display: none;
}

.discover-mobile:hover {
  opacity: 50%;
  transition: 0.2s;
}

@media (max-width: 768px) {
  .srclogo {
    display: block;
  }

  .srcbar > #src {
    display: none;
  }

  .navbar-2-links > a:nth-child(2) {
    display: none;
  }

  .navbar-2-links > a:nth-child(3) {
    display: none;
  }

  .navbar-2-links > a:nth-child(1) {
    padding: 0 6em;
  }

  .navbar-elements {
    justify-content: center;
    align-items: center;
  }

  .discover-mobile svg {
    display: block;
  }

  .navbar-2 {
    position: static;
    width: 50%;
  }
}
