<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Specifiche</title>
    <link
      rel="stylesheet"
      href="../EPIC GAMES UI2/EpicGamesUI/assets/css/common.css"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="specifiche-container">
      <h2 class="specifiche-title">
        The Coma 2B: Catacomb System Requirements
      </h2>
      <div class="specifiche-content">
        <div class="Windows">
          <p class="specifiche-content-title">Windows</p>
        </div>
        <div class="specifiche-content1">
          <p>Minimum</p>
          <p>Recommended</p>
        </div>
        <div class="primo-gruppo">
          <div class="specifiche-content2">
            <div class="flex-secondario">
              <p class="scritta-grigia">OS version</p>
              <p class="scritta-bianca">Windows XP (64Bit)</p>
            </div>
            <div class="flex-secondario">
              <p class="scritta-grigia">OS version</p>
              <p class="scritta-bianca">Windows XP (64Bit)</p>
            </div>
          </div>
          <div class="specifiche-content2">
            <div class="flex-secondario">
              <p class="scritta-grigia">CPU</p>
              <p class="scritta-bianca">Core2Duo</p>
            </div>
            <div class="flex-secondario">
              <p class="scritta-grigia">CPU</p>
              <p class="scritta-bianca">i5 or above</p>
            </div>
          </div>
          <div class="specifiche-content2">
            <div class="flex-secondario">
              <p class="scritta-grigia">Memory</p>
              <p class="scritta-bianca">3 GB</p>
            </div>
            <div class="flex-secondario">
              <p class="scritta-grigia">Memory</p>
              <p class="scritta-bianca">4 GB</p>
            </div>
          </div>
          <div class="specifiche-content2">
            <div class="flex-secondario">
              <p class="scritta-grigia">GPU</p>
              <p class="scritta-bianca">Any with hardware 3D acceleration</p>
            </div>
            <div class="flex-secondario">
              <p class="scritta-grigia">GPU</p>
              <p class="scritta-bianca">Nvidia 7900 / equivalent</p>
            </div>
          </div>
          <div class="specifiche-content2">
            <div class="flex-secondario">
              <p class="scritta-grigia">DirectX</p>
              <p class="scritta-bianca">DirectX 9</p>
            </div>
          </div>
          <div class="specifiche-content2">
            <div class="flex-secondario">
              <p class="scritta-grigia">Storage</p>
              <p class="scritta-bianca">2 MB</p>
            </div>
          </div>
          <div class="specifiche-content2">
            <div class="flex-secondario">
              <p class="scritta-grigia">SoundCard</p>
              <p class="scritta-bianca">Earphones! x64, .Net 3.5</p>
            </div>
          </div>
          <div class="specifiche-content2">
            <div class="flex-secondario">
              <p class="scritta-grigia">Login Accounts Required</p>
              <p class="scritta-bianca">Epic ID</p>
            </div>
          </div>
        </div>

        <div class="secondo-gruppo">
          <div class="specifiche-content2">
            <div class="flex-secondario">
              <p class="scritta-grigia">Languages Supported</p>
              <p class="scritta-bianca">Audio: Korean</p>
            </div>
          </div>
          <div class="specifiche-content2">
            <p class="scritta-bianca">
              Text: English, Korean, French, German, Chinese (Simplified),
              Russian, Ukrainian, Thai, Turkish
            </p>
          </div>
        </div>
        <div class="specifiche-content2">
          <p class="scritta-grigia">
            ©Dvora Studio Co., Ltd., ALL RIGHTS RESERVED
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
