<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sezione colonne</title>
    <link
      rel="stylesheet"
      href="../EPIC GAMES UI2/EpicGamesUI/assets/css/common.css"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="flex-content">
      <section class="section">
        <header class="header-title">
          <h2>Top Seller</h2>
          <span>
            <svg
              aria-hidden="true"
              class="header-icon"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path
                d="M8.97 4.47a.75.75 0 0 1 1.06 0L17.56 12l-7.53 7.53a.75.75 0 1 1-1.06-1.06L15.44 12 8.97 5.53a.75.75 0 0 1 0-1.06"
                clip-rule="evenodd"
                fill-rule="evenodd"
              ></path>
            </svg>
          </span>
        </header>
        <div class="card-sezione-colonne">
          <img
            data-testid="lazy-image-observer"
            data-image="https://cdn1.epicgames.com/offer/b61e8ddd14e94619b7a74cf9d73f86b5/EGS_EASPORTSFC25StandardEdition_EACanada_S2_1200x1600-6e6b5c1d5d30e15b1dbdde721c6bc544?resize=1&amp;w=360&amp;h=480&amp;quality=medium"
            class="card-sezione-colonne-image"
            alt="EA SPORTS FC™ 25 Standard Edition"
            src="https://cdn1.epicgames.com/offer/b61e8ddd14e94619b7a74cf9d73f86b5/EGS_EASPORTSFC25StandardEdition_EACanada_S2_1200x1600-6e6b5c1d5d30e15b1dbdde721c6bc544?resize=1&amp;w=360&amp;h=480&amp;quality=medium"
            data-animated="animated"
          />
          <div class="card-sezione-colonne-content">
            <p class="card-title">EA SPORTS FC™ 25 Standard Edition</p>
            <span class="card-description"> Trial Available</span>
            <span class="price"> €69.99</span>
          </div>
        </div>
        <div class="card-sezione-colonne">
          <img
            data-testid="lazy-image-observer"
            data-image="https://cdn1.epicgames.com/0584d2013f0149a791e7b9bad0eec102/offer/GTAV_EGS_Artwork_1200x1600_Portrait%20Store%20Banner-1200x1600-382243057711adf80322ed2aeea42191.jpg?resize=1&amp;w=360&amp;h=480&amp;quality=medium"
            class="card-sezione-colonne-image"
            alt="Grand Theft Auto V: Premium Edition"
            src="https://cdn1.epicgames.com/0584d2013f0149a791e7b9bad0eec102/offer/GTAV_EGS_Artwork_1200x1600_Portrait%20Store%20Banner-1200x1600-382243057711adf80322ed2aeea42191.jpg?resize=1&amp;w=360&amp;h=480&amp;quality=medium"
            data-animated="animated"
          />
          <div class="card-sezione-colonne-content">
            <p class="card-title">Grand Theft Auto V</p>
            <span class="price"> €29.99</span>
          </div>
        </div>
        <div class="card-sezione-colonne">
          <img
            data-testid="lazy-image-observer"
            data-image="https://cdn1.epicgames.com/salesEvent/salesEvent/EGS_theHunterCalloftheWild_ExpansiveWorlds_S2_1200x1600-1e9b46aaabc33fe0a08cf5b418e76ba2?resize=1&amp;w=360&amp;h=480&amp;quality=medium"
            class="card-sezione-colonne-image"
            alt="theHunter: Call of the Wild™"
            src="https://cdn1.epicgames.com/salesEvent/salesEvent/EGS_theHunterCalloftheWild_ExpansiveWorlds_S2_1200x1600-1e9b46aaabc33fe0a08cf5b418e76ba2?resize=1&amp;w=360&amp;h=480&amp;quality=medium"
            data-animated="animated"
          />
          <div class="card-sezione-colonne-content">
            <p class="card-title">TheHunter: Call of the Wild™</p>
            <div class="prezzi-vari">
              <span class="sconto">-80%</span>
              <span class="prezzo-precedente">€19.99</span>
              <span class="price"> €3.99</span>
            </div>
          </div>
        </div>
        <div class="card-sezione-colonne">
          <img
            data-testid="lazy-image-observer"
            data-image="https://cdn1.epicgames.com/undefined/offer/KEY_ART_LOGO_640x854-640x854-d7402c9d56f9fc6d90d5e8550420e30b.jpg?resize=1&amp;w=360&amp;h=480&amp;quality=medium"
            class="card-sezione-colonne-image"
            alt="Steep Standard Edition"
            src="https://cdn1.epicgames.com/undefined/offer/KEY_ART_LOGO_640x854-640x854-d7402c9d56f9fc6d90d5e8550420e30b.jpg?resize=1&amp;w=360&amp;h=480&amp;quality=medium"
            data-animated="animated"
          />
          <div class="card-sezione-colonne-content">
            <p class="card-title">Steep Standard</p>
            <div class="prezzi-vari">
              <span class="sconto">-85%</span>
              <span class="prezzo-precedente">€29.99</span>
              <span class="price"> €4.49</span>
            </div>
          </div>
        </div>
        <div class="card-sezione-colonne">
          <img
            data-testid="lazy-image-observer"
            data-image="https://cdn1.epicgames.com/spt-assets/bd49b69c7a9e410b83b7c553c837a00a/crosshair-x-uqsfp.png?resize=1&amp;w=360&amp;h=480&amp;quality=medium"
            class="card-sezione-colonne-image"
            alt="Crosshair X"
            src="https://cdn1.epicgames.com/spt-assets/bd49b69c7a9e410b83b7c553c837a00a/crosshair-x-uqsfp.png?resize=1&amp;w=360&amp;h=480&amp;quality=medium"
            data-animated="animated"
          />
          <div class="card-sezione-colonne-content">
            <p class="card-title">Crosshair X</p>
            <span class="price"> €7.19</span>
          </div>
        </div>
      </section>
      <section class="section">
        <header class="header-title">
          <h2>Most Played</h2>
          <span>
            <svg
              aria-hidden="true"
              class="header-icon"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path
                d="M8.97 4.47a.75.75 0 0 1 1.06 0L17.56 12l-7.53 7.53a.75.75 0 1 1-1.06-1.06L15.44 12 8.97 5.53a.75.75 0 0 1 0-1.06"
                clip-rule="evenodd"
                fill-rule="evenodd"
              ></path>
            </svg>
          </span>
        </header>
        <div class="card-sezione-colonne">
          <img
            data-testid="lazy-image-observer"
            data-image="https://cdn1.epicgames.com/offer/9773aa1aa54f4f7b80e44bef04986cea/EGS_RocketLeague_PsyonixLLC_S2_1200x1600-b61e9e7ec5d3294dfa514f23fc7f0684?resize=1&amp;w=360&amp;h=480&amp;quality=medium"
            class="card-sezione-colonne-image"
            alt="Rocket League®"
            src="https://cdn1.epicgames.com/offer/9773aa1aa54f4f7b80e44bef04986cea/EGS_RocketLeague_PsyonixLLC_S2_1200x1600-b61e9e7ec5d3294dfa514f23fc7f0684?resize=1&amp;w=360&amp;h=480&amp;quality=medium"
            data-animated="animated"
          />
          <div class="card-sezione-colonne-content">
            <p class="card-title">Rocket League®</p>
            <span class="price">Free</span>
          </div>
        </div>
        <div class="card-sezione-colonne">
          <img
            data-testid="lazy-image-observer"
            data-image="https://cdn1.epicgames.com/offer/9c59efaabb6a48f19b3485d5d9416032/EGS_LEGOStarWarsTheSkywalkerSaga_TTGames_S2_1200x1600-fba27b1ae598e355c3ad42d04d9025ba?resize=1&amp;w=360&amp;h=480&amp;quality=medium"
            class="card-sezione-colonne-image"
            alt="LEGO® Star Wars™: The Skywalker Saga"
            src="https://cdn1.epicgames.com/offer/9c59efaabb6a48f19b3485d5d9416032/EGS_LEGOStarWarsTheSkywalkerSaga_TTGames_S2_1200x1600-fba27b1ae598e355c3ad42d04d9025ba?resize=1&amp;w=360&amp;h=480&amp;quality=medium"
            data-animated="animated"
          />
          <div class="card-sezione-colonne-content">
            <p class="card-title">LEGO® Star Wars™</p>
            <div class="prezzi-vari">
                <span class="sconto">-100%</span>
                <span class="prezzo-precedente">€49.99</span>
                <span class="price"> Free</span>
              </div>
          </div>
        </div>
        <div class="card-sezione-colonne">
          <img
            data-testid="lazy-image-observer"
            data-image="https://cdn1.epicgames.com/0584d2013f0149a791e7b9bad0eec102/offer/GTAV_EGS_Artwork_1200x1600_Portrait%20Store%20Banner-1200x1600-382243057711adf80322ed2aeea42191.jpg?resize=1&amp;w=360&amp;h=480&amp;quality=medium"
            class="card-sezione-colonne-image"
            alt="Grand Theft Auto V: Premium Edition"
            src="https://cdn1.epicgames.com/0584d2013f0149a791e7b9bad0eec102/offer/GTAV_EGS_Artwork_1200x1600_Portrait%20Store%20Banner-1200x1600-382243057711adf80322ed2aeea42191.jpg?resize=1&amp;w=360&amp;h=480&amp;quality=medium"
            data-animated="animated"
          />
          <div class="card-sezione-colonne-content">
            <p class="card-title">Grand Theft Auto V</p>
            <div class="prezzi-vari">
              <span class="price"> €29.99</span>
            </div>
          </div>
        </div>
        <div class="card-sezione-colonne">
          <img
            data-testid="lazy-image-observer"
            data-image="https://cdn1.epicgames.com/offer/2b09519576cb4276bfd8df52f5288e4a/EGS_BusSimulator21NextStop_stillalivestudios_S2_1200x1600-79304bca6b4b6f8abeeb7077ea30d0e0?resize=1&amp;w=360&amp;h=480&amp;quality=medium"
            class="card-sezione-colonne-image"
            alt="Bus Simulator 21 Next Stop"
            src="https://cdn1.epicgames.com/offer/2b09519576cb4276bfd8df52f5288e4a/EGS_BusSimulator21NextStop_stillalivestudios_S2_1200x1600-79304bca6b4b6f8abeeb7077ea30d0e0?resize=1&amp;w=360&amp;h=480&amp;quality=medium"
            data-animated="animated"
          />
          <div class="card-sezione-colonne-content">
            <p class="card-title">Bus Simulator 21</p>
            <div class="prezzi-vari">
              <span class="sconto">-100%</span>
              <span class="prezzo-precedente">€34.99</span>
              <span class="price"> Free</span>
            </div>
          </div>
        </div>
        <div class="card-sezione-colonne">
          <img
            data-testid="lazy-image-observer"
            data-image="https://cdn1.epicgames.com/spt-assets/eb15454c010f4a748498cd3a62096a52/marvel-rivals-wq3mr.png?resize=1&amp;w=360&amp;h=480&amp;quality=medium"
            class="card-sezione-colonne-image"
            alt="Marvel Rivals"
            src="https://cdn1.epicgames.com/spt-assets/eb15454c010f4a748498cd3a62096a52/marvel-rivals-wq3mr.png?resize=1&amp;w=360&amp;h=480&amp;quality=medium"
            data-animated="animated"
          />
          <div class="card-sezione-colonne-content">
            <p class="card-title">Marvel Rivals</p>
            <span class="price"> Free</span>
          </div>
        </div>
      </section>
      <section class="section1">
        <header class="header-title">
          <h2>Top Upcoming Wishlisted</h2>
          <span>
            <svg
              aria-hidden="true"
              class="header-icon"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path
                d="M8.97 4.47a.75.75 0 0 1 1.06 0L17.56 12l-7.53 7.53a.75.75 0 1 1-1.06-1.06L15.44 12 8.97 5.53a.75.75 0 0 1 0-1.06"
                clip-rule="evenodd"
                fill-rule="evenodd"
              ></path>
            </svg>
          </span>
        </header>
        <div class="card-sezione-colonne">
          <img
            data-testid="lazy-image-observer"
            data-image="https://cdn1.epicgames.com/offer/14a28903e3d14bd5aa3e6dbf10868126/EN_EGST_StorePortrait_1200x1600_1200x1600-a010fb65414cbbc48e055d1f6eac41b8?resize=1&amp;w=360&amp;h=480&amp;quality=medium"
            class="card-sezione-colonne-image"
            alt="Assassin’s Creed Shadows"
            src="https://cdn1.epicgames.com/offer/14a28903e3d14bd5aa3e6dbf10868126/EN_EGST_StorePortrait_1200x1600_1200x1600-a010fb65414cbbc48e055d1f6eac41b8?resize=1&amp;w=360&amp;h=480&amp;quality=medium"
            data-animated="animated"
          />
          <div class="card-sezione-colonne-content">
            <p class="card-title">Assassins Creed</p>
            <span class="card-description1"> Available 02/14/25</span>
          </div>
        </div>
        <div class="card-sezione-colonne">
          <img
            data-testid="lazy-image-observer"
            data-image="https://cdn1.epicgames.com/spt-assets/a7641d724f1242db95f8f72fc0fd8d81/kingdom-come-deliverance-2-14rqo.png?resize=1&amp;w=360&amp;h=480&amp;quality=medium"
            class="card-sezione-colonne-image"
            alt="Kingdom Come: Deliverance II"
            src="https://cdn1.epicgames.com/spt-assets/a7641d724f1242db95f8f72fc0fd8d81/kingdom-come-deliverance-2-14rqo.png?resize=1&amp;w=360&amp;h=480&amp;quality=medium"
            data-animated="animated"
          />
          <div class="card-sezione-colonne-content">
            <p class="card-title">Kingdome Come</p>
            <span class="card-description1"> Available 02/04/25</span>
            <span class="price"> €59.99</span>
          </div>
        </div>
        <div class="card-sezione-colonne">
          <img
            data-testid="lazy-image-observer"
            data-image="https://cdn1.epicgames.com/spt-assets/3209b4dceba04b16bb97558f97c18ea9/33-immortals-9zmqb.png?resize=1&amp;w=360&amp;h=480&amp;quality=medium"
            class="card-sezione-colonne-image"
            alt="33 Immortals"
            src="https://cdn1.epicgames.com/spt-assets/3209b4dceba04b16bb97558f97c18ea9/33-immortals-9zmqb.png?resize=1&amp;w=360&amp;h=480&amp;quality=medium"
            data-animated="animated"
          />
          <div class="card-sezione-colonne-content">
            <p class="card-title">33 Immortals</p>
            <div class="prezzi-vari">
                <span class="card-description1"> Coming Soon</span>
            </div>
          </div>
        </div>
        <div class="card-sezione-colonne">
          <img
            data-testid="lazy-image-observer"
            data-image="https://cdn1.epicgames.com/spt-assets/bec08df44a434459a5ae9b1254797d5b/mini-royale-1nhuh.png?resize=1&amp;w=360&amp;h=480&amp;quality=medium"
            class="card-sezione-colonne-image"
            alt="Mini Royale"
            src="https://cdn1.epicgames.com/spt-assets/bec08df44a434459a5ae9b1254797d5b/mini-royale-1nhuh.png?resize=1&amp;w=360&amp;h=480&amp;quality=medium"
            data-animated="animated"
          />
          <div class="card-sezione-colonne-content">
            <p class="card-title">Mini Royale</p>
              <span class="card-description1"> Coming Soon</span>
          </div>
        </div>
        <div class="card-sezione-colonne">
          <img
            data-testid="lazy-image-observer"
            data-image="https://cdn1.epicgames.com/offer/16ed9f15b1b449ccb59cb610b13df5b8/SMITE2-PortraitImagev2-CA1-1200x1600_1200x1600-d0b3d104669cb7eb331bd19907642eb0?resize=1&amp;w=360&amp;h=480&amp;quality=medium"
            class="card-sezione-colonne-image"
            alt="SMITE 2"
            src="https://cdn1.epicgames.com/offer/16ed9f15b1b449ccb59cb610b13df5b8/SMITE2-PortraitImagev2-CA1-1200x1600_1200x1600-d0b3d104669cb7eb331bd19907642eb0?resize=1&amp;w=360&amp;h=480&amp;quality=medium"
            data-animated="animated"
          />
          <div class="card-sezione-colonne-content">
            <p class="card-title">SMITE 2</p>
            <span class="card-description1"> Coming Soon</span>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
