<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Card Epic</title>
    <!-- @import url("../../common.css"); -->
    <link rel="stylesheet" href="../../assets/css/common.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="title-section-card-1">
      <h1>Principali nuove uscite</h1></div>
    <section class="section-card-1">
      <div class="card">
        <img
          src="../../assets/sezione-card-1/voidwrought.png"
          alt="voidwrought"
          class="card-img"
        />
        <div class="card-header">
          <p>Base Game</p>
          <h2>Voidwrought</h2>
          <h3>€17.99</h3>
        </div>
      </div>
      <div class="card">
        <img
          src="../../assets/sezione-card-1/Valorant-img.jpg"
          alt="Valorant"
          class="card-img"
        />
        <div class="card-header">
          <p>Base Game</p>
          <h2>Valorant</h2>
          <h3>€23.00</h3>
        </div>
      </div>
      <div class="card">
        <img
          src="../../assets/sezione-card-1/Blade-of-god-x.jpg"
          alt="Blade-of-god-x"
          class="card-img"
        />
        <div class="card-header">
          <p>Base Game</p>
          <h2>Blade of God X</h2>
          <h3>Gratis</h3>
        </div>
      </div>
      <div class="card">
        <img
          src="../../assets/sezione-card-1/Horizon-zero-down.jpg"
          alt="Horizon"
          class="card-img"
        />
        <div class="card-header">
          <p>Base Game</p>
          <h2>Horizon Zero Dawn Remastered</h2>
          <h3>€49.99</h3>
        </div>
      </div>
      <div class="card">
        <img
          src="../../assets/sezione-card-1/the-coma-2b-catacomb.jpg"
          alt="the-coma-2b-catacomb"
          class="card-img"
        />
        <div class="card-header">
          <p>Base Game</p>
          <h2>The Coma 2B Catacomb:</h2>
          <h3>€14.99</h3>
        </div>
      </div>
    </section>
  </body>
</html>
